
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: cursive;
}

.container-log-tit{
    background:  url("./assets/design1_image1.jpg") ;
    background-repeat: no-repeat;
    background-position: center ;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container-log-tit h1{

    padding: 0px 20px;
        font-size: 4rem;
}

.container-log-tit a{
    background: black;
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0px;
}



.logo img{
    position: absolute;
    right: 10vw;
    top: 46vh;
    max-width: 130px;

}


.container-main{
    display: flex;
    flex-direction: row;
    margin: 30px 5%;
}

.container-nav{
    display: flex;
    height: 190px;
}
.container-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}


.container-article{
    margin-left: 5%;
}
.container-article h4{
    padding: 5px;
}

.container-article h5, .container-article p, .container-article div{
    padding: 5px 35px;
}

